<% title '検索結果' %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table align="right">
					<tr>
						<th>並び替え</th>
						<th><%= sort_link(@q, :created_at, "投稿日", default_order: :desc) %></th>
						<th><%= sort_link(@q, :likes_count, "いいね！", default_order: :desc) %></th>
						<th><%= sort_link(@q, :comments_count, "コメント", default_order: :desc) %></th>
					</tr>
			</table>
		</div>
	  <% if !@posts.empty? %>
		<div class="colxs-12">
			<% @posts.each do |post| %>
			<% if post.user.unsubscribe == false %>
				<div class="col-xs-4 p-0">
					<%= link_to post_path(post.id) do %>
						<%= attachment_image_tag post, :image, format: 'jpeg',fallback:"noimage2.jpeg", size: "250x250" %>
					<% end %>
				</div>
			<% end %>
			<% end %>
		</div>
	  <% else %>
	    <h3 style="text-align: center; padding-top: 100px;">
	  	まだ投稿がありません。記事を投稿して一番乗りしましょう！
	    </h3>
	  <% end %>
	</div>
</div>